<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}} &middot; animint2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="www/jquery-1.11.3.min.js"></script>
    <link href="www/bootstrap.min.css" rel="stylesheet">
    <link href="www/highlight.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700'
      rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="container-fluid">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Table of contents<b class="caret"></b>
            </a>
            <ul class="dropdown-menu pull-right" role="menu">
	      <li><a href="Ch00-preface.html">Preface and contents</a></li>
	      <li class="dropdown-header">Animint2 basics</li>
	      <li><a href="Ch01-motivation.html">Motivation</a></li>
	      <li><a href="Ch02-ggplot2.html">Grammar of graphics</a></li>
	      <li><a href="Ch03-showSelected.html">showSelected</a></li>
	      <li><a href="Ch04-clickSelects.html">clickSelects</a></li>
	      <li><a href="Ch05-sharing.html">Sharing animints on the web</a></li>
	      <li><a href="Ch06-other.html">Animint2 options</a></li>
	      <li><a href="Ch07-limitations.html">Limitations and workarounds</a></li>
	      <li class="dropdown-header">Advanced data visualization examples</li>
	      <li><a href="Ch08-WorldBank-facets.html">World Bank data</a></li>
	      <li><a href="Ch09-Montreal-bikes.html">Montreal bike data</a></li>
	      <li><a href="Ch10-nearest-neighbors.html">K Nearest Neighbors</a></li>
	      <li><a href="Ch11-lasso.html">Lasso</a></li>
	      <li><a href="Ch12-SVM.html">Support Vector Machines</a></li>
	      <li><a href="Ch13-poisson-regression.html">Poisson regression</a></li>
	      <li><a href="Ch14-PeakSegJoint.html">Named clickSelects/showSelected</a></li>
	      <li><a href="Ch15-Newton.html">Root-finding algorithms</a></li>
	      <li><a href="Ch16-change-point.html">Change-point detection</a></li>
	      <li><a href="Ch17-k-means-clustering.html">K-means clustering</a></li>
	      <li class="dropdown-header">Appendices</li>
	      <li><a href="Ch99-appendix.html">R code idioms</a></li>
            </ul>
          </li>
        </ul>

        <h3 class="muted"><a href="Ch00-preface.html">The animint2 Manual</a> <small>by
            <a href="http://tdhock.github.io">Toby Dylan
            Hocking</a></small></h3>
        <hr>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3" id="nav">
	  
        <div class="well">
          Did you learn something from reading this?
          Please <a href="https://www.paypal.me/tdhock/50">send me a
          donation via PayPal</a>.
        </div>

        <div class="well">
          Do you need help with big data analysis, visualization, or
          machine learning? <a href="http://tdhock.github.io/">Email
          me to ask for an estimate for my consulting services</a>.
        </div>

        <h4>Chapter contents</h4>
          <ul id="toc"></ul>

          <hr>
          <p><a href="contribute.html">How to contribute</a></p>

          <p><a class="btn btn-primary" href="https://github.com/tdhock/animint-book/edit/master/{{page.path}}">Edit this page</a></p>
        </div>

        <div id="content" class="col-xs-12 col-sm-9 pull-right">
          {{ content }}
        </div>
      </div>

      <div class="footer">
        <hr>
        <p>
	  
	  <a rel="license"
	     href="http://creativecommons.org/licenses/by-sa/4.0/">

	    <img alt="Creative Commons License"
		 style="border-width:0"
		 src="www/cc-by-sa-4-80x15.png"
		 />
	  </a>

	  <span xmlns:dct="http://purl.org/dc/terms/"
	  property="dct:title">The Animint2 Manual</span>
	  by
	  <a xmlns:cc="http://creativecommons.org/ns#"
	     href="http://tdhock.github.io"
	     property="cc:attributionName"
	     rel="cc:attributionURL">
	    Toby Dylan Hocking
	  </a>
	  is licensed under a
	  <a rel="license"
	     href="http://creativecommons.org/licenses/by-sa/4.0/">
	    Creative Commons Attribution-ShareAlike 4.0 International
	    License</a>. Source 
	  <a xmlns:dct="http://purl.org/dc/terms/"
	  href="https://github.com/tdhock/animint-book"
	  rel="dct:source">on GitHub</a>, inspired by
	  <a href="http://adv-r.had.co.nz/">Advanced R</a>.
        </p>
      </div>

    </div> <!-- /container -->

  <script src="www/bootstrap.min.js"></script>
  <script src="www/toc.js"></script>
  </body>
</html>
